<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.assets.inventory.mapper.AssetsInventoryMapper">


    <select id="page" resultType="com.zs.assets.inventory.domain.entity.AssetsInventoryEntity">
        select a.*, b.dept_name as orgName, d.real_name as userName, c.name as levelName
        from assets_inventory a
                 left join sys_dept b on a.org_id = b.sys_dept_id
                 left join assets_level c on c.assets_level_id = a.level_id
                 left join sys_user d on d.sys_user_id = a.user_id
    </select>
    <select id="get" resultType="com.zs.assets.inventory.domain.entity.AssetsInventoryEntity">
        select a.*, b.dept_name as orgName, d.real_name as userName, c.name as levelName
        from assets_inventory a
                 left join sys_dept b on a.org_id = b.sys_dept_id
                 left join assets_level c on c.assets_level_id = a.level_id
                 left join sys_user d on d.sys_user_id = a.user_id
        where a.id = #{id}
    </select>
</mapper>
